*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrong{
    background-color: palevioletred;
    
}

.correct{
    background-color: lightgreen;
}

.neutral{
    background-color: rgb(169, 189, 228);
}


.choices{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.choice{
   
    padding: 10px 10px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin-right: 10px;
    margin-top: 10px;
}

.choice:hover{
    border: 3px solid rgb(19, 3, 163);
}

.chosen{
    border: 3px solid rgb(19, 3, 163);
}



.question{
    margin: 15px 0;
    font-size: 2.5em;
}



.hide{
    display: none;
}

.controls{
    margin: 15px 0;
}

.control-btn{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid black;
}

